.homepage {
  width: 100%;
  height: auto;
}
/** BEST SELLERS **/
.homepage .popular-dishes-frame {
  width: 100%;
  height: 650px;
  display: flex;
  background: #f8f8f8;
}

.homepage .popular-dishes-frame .popular-section {
  margin-top: 45px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.homepage .popular-dishes-frame .popular-section .category-title {
  text-align: center;
  font-family: "Roboto Serif";
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.44px;
  color: #000;
}

.homepage .popular-dishes-frame .popular-section .cards-frame {
  width: 100%;
  margin-top: 43px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.homepage .popular-dishes-frame .cards-frame .card {
  min-height: 430px;
  min-width: 300px;
  cursor: pointer;
  background-color: #f0e6ea;
  border: none;
}
.homepage .popular-dishes-frame .cards-frame .card .card-bottom {
  display: flex;
}
.homepage .popular-dishes-frame .cards-frame .card .card-bottom .product-name {
  color: rgb(18, 18, 24);
  font-family: Playfair Display;
  font-size: 22px;
  font-weight: 400;
}

.homepage .popular-dishes-frame .cards-frame .card .card-bottom .product-view {
  color: rgb(18, 18, 24);
  font-family: Playfair Display;
  font-size: 17px;
  display: flex;
  align-items: center;
}

.homepage .popular-dishes-frame .cards-frame .card .card-bottom .product-desc {
  color: rgb(73, 76, 80);
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
}

.homepage .popular-dishes-frame .cards-frame .card .card-bottom .product-price {
  color: rgb(18, 18, 24);
  font-family: Lato;
  font-size: 18px;
  font-weight: 400;
  line-height: 160%;
  letter-spacing: 0%;
  text-align: left;
  text-transform: capitalize;
}

.homepage .popular-dishes-frame .no-data {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 34px;
  color: #e3c08d;
}

/** ADVERTISEMENT **/

.homepage .ads-restaurant-frame {
  width: 100%;
  height: 693px;
  display: flex;
  overflow: hidden;
  transform: perspective(0px);
  box-shadow: -3px 0px 20px 14px #34343480;
}

.homepage .ads-restaurant-frame .ads-video {
  width: 100%;
  background: #0c0e12;
  display: flex;
  box-shadow: 0px -8px 90px rgb(215 215 255);
  transform: scale(1.5);
  overflow: hidden;
}
