.homepage {
  width: 100%;
  height: auto;
}
/** BEST SELLERS **/
.homepage .best-sellers-frame {
  width: 100%;
  height: 650px;
  display: flex;
  background: #f8f8f8;
}

.homepage .best-sellers-frame .best-section {
  margin-top: 45px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.homepage .best-sellers-frame .best-section .category-title {
  text-align: center;
  font-family: "Roboto Serif";
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.44px;
  color: #000;
}

.homepage .best-sellers-frame .best-section .cards-frame {
  width: 100%;
  margin-top: 43px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.homepage .best-sellers-frame .cards-frame .card {
  min-height: 430px;
  min-width: 300px;
  cursor: pointer;
  background-color: #f0e6ea;
  border: none;
  position: relative;
}

.homepage .best-sellers-frame .cards-frame .card:hover {
  transform: translateY(-20px);
}
.homepage .best-sellers-frame .cards-frame .card .card-image {
  transition: transform 0.25s ease-in-out;
}

.homepage .best-sellers-frame .cards-frame .card:hover .card-image {
  transform: scale(1.1);
}

.homepage .best-sellers-frame .cards-frame .card .new {
  position: absolute;
  padding: 1px 8px;
  top: 0;
  left: 0;
  z-index: 10;
  color: rgb(255, 255, 255);
  font-family: Lato;
  font-weight: 400;

  text-align: center;
  text-transform: uppercase;
  border-radius: 5px;
  background-color: rgb(139, 132, 160);
}

.homepage .best-sellers-frame .cards-frame .card .hot {
  position: absolute;
  padding: 1px 9px;
  top: 0;
  left: 0;
  z-index: 10;
  color: rgb(255, 255, 255);
  font-family: Lato;
  font-weight: 400;

  text-align: center;
  text-transform: uppercase;
  border-radius: 5px;
  background-color: rgb(227, 52, 52);
}
.homepage .best-sellers-frame .cards-frame .card .hot.below-new {
  top: 30px;
}
.homepage .best-sellers-frame .cards-frame .card .card-bottom {
  display: flex;
}
.homepage .best-sellers-frame .cards-frame .card .card-bottom .product-name {
  color: rgb(18, 18, 24);
  font-family: Playfair Display;
  font-size: 22px;
  font-weight: 400;
}

.homepage .best-sellers-frame .cards-frame .card .card-bottom .product-view {
  color: rgb(18, 18, 24);
  font-family: Playfair Display;
  font-size: 17px;
  display: flex;
  align-items: center;
}

.homepage .best-sellers-frame .cards-frame .card .card-bottom .product-desc {
  color: rgb(73, 76, 80);
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
}

.homepage .best-sellers-frame .cards-frame .card .card-bottom .product-price {
  color: rgb(18, 18, 24);
  font-family: Lato;
  font-size: 18px;
  font-weight: 400;
  line-height: 160%;
  letter-spacing: 0%;
  text-align: left;
  text-transform: capitalize;
}

.homepage .best-sellers-frame .no-data {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 34px;
  color: #e3c08d;
}

.homepage .best-sellers-frame .cards-frame .card .card-bottom .shopping-cart-box .shopping-cart-icon {
  height: 34px;
  width: 50px;
  padding: 5px;

  border: 1px solid gray;
  color: #000;
  border-radius: 5px;
}
.homepage .best-sellers-frame .cards-frame .card:hover .card-bottom .shopping-cart-box .shopping-cart-icon {
  background-color: #dda0dd;
  color: #fff;
  border: none;
}

/** ADVERTISEMENT **/

.homepage .ads-restaurant-frame {
  width: 100%;
  height: 693px;
  display: flex;
  overflow: hidden;
  transform: perspective(0px);
  box-shadow: -3px 0px 20px 14px #34343480;
}

.homepage .ads-restaurant-frame .ads-video {
  width: 100%;
  background: #0c0e12;
  display: flex;
  box-shadow: 0px -8px 90px rgb(215 215 255);
  transform: scale(1.5);
  overflow: hidden;
}

/** PRODUCT CATEGORIES **/
.homepage .product-categories-frame {
  height: 500px;
}
.homepage .product-categories-frame .main {
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.homepage .product-categories-frame .category-title {
  font-family: "Dancing Script";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 43px;
}

.homepage .product-categories-frame .main-frame {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  transition: all 0.2s ease;
}
.homepage .product-categories-frame .main-frame:hover {
  transform: scale(1.05);
}
.homepage .product-categories-frame .main-frame .image-box {
  height: 220px;
  width: 220px;
  border-radius: 200px;
}

.homepage .product-categories-frame .main-frame .description {
  color: rgb(87, 82, 75);
  font-family: Playfair Display;
  font-size: 22px;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 0%;
  text-align: center;
  text-transform: capitalize;
  text-transform: uppercase;
}

/** EVENTS **/

.homepage .events-frame {
  width: 100%;
  height: auto;
  background: #f8f8ff;
  display: flex;
}

.homepage .events-frame .category-title {
  font-family: "Dancing Script";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 43px;
  padding-top: 20px;
}

.homepage .events-frame .events-main {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.homepage .events-frame .events-main .events-text {
  width: auto;
  height: 70px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.homepage .events-frame .events-main .prev-next-frame {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  margin: 40px 0 40px 0;
  height: 25px;
}

.homepage .events-frame .dot-frame-pagination {
  position: relative;
  width: auto;
  display: flex;
}

.homepage .events-frame .events-main .events-info {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.homepage .events-frame .events-info .events-info-frame {
  position: relative;
  width: 500px;
  height: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.homepage .events-frame .events-img {
  width: 100%;
  height: 100%;
  display: flex;
  border-radius: 10px;
  background-size: cover;
}

.homepage .events-frame .events-desc {
  position: absolute;
  margin-bottom: 7px;
  right: 10px;
  top: 40px;
  padding: 10px;
  display: flex;
  width: 40%;
  height: auto;
  bottom: 5px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.homepage .events-frame .events-desc .desc-title {
  color: rgb(247, 82, 131);
  font-family: Playfair Display;
  font-size: 50px;
  font-weight: 700;
  line-height: 90%;
  letter-spacing: 0%;
  text-align: left;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}

.homepage .events-frame .events-desc .desc-text {
  margin-top: 10px;
  font-family: "GT Walsheim Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 130%;
  color: #4f547b;
}

.homepage .events-frame .swiper-wrapper {
  display: flex;
  flex-direction: row;
}

.homepage .events-frame .swiper-pagination-bullet {
  margin-right: 5px;
  width: 8px;
  height: 8px;
  text-align: center;
  opacity: 1;
  background: #f8f8ff;
  border-radius: 50%;
}

.homepage .events-frame .swiper-pagination-bullet-active {
  background: #343434;
  border-radius: 50%;
}
